<h1>New Director</h1>
<form action="/directors" method="post">
  <label>
    First Name:
    <input type="text" name="first_name" placeholder="Ridley" required>
  </label>
  <label>
    Last Name:
    <input type="text" name="last_name" placeholder="Scott" required>
  </label>
  <label>
    Country of Origin:
    <input type="text" name="country" placeholder="UK" required>
  </label>
  <label>
    Number of Awards:
    <input type="number" name="number_of_awards" placeholder="23" required>
  </label>
  <label>
  Image:
  <input type="url" name="image" placeholder="http://...">
  </label>
  <button >Add to database</button>
</form>
