<h1>New Movie</h1>
<form action="/movies" method="post">
  <label>
    Name:
    <input type="text" name="name" placeholder="Lord of the Rings" required>
  </label>
  <label>
    Directed by:
    <select name="director_id" placeholder= "Pe">
      <option value="">Choose a director</option>
      <% Director.all.each do |director| %>
        <%# dropdown menu to select from existing directors. <all.each> loads all the records from the table in memory and then iterates over those records. then each record becomes an option  %>
      <option value="<%=director.id%>"><%=director.first_name%> <%=director.last_name%></option>
      <%end%>
    </select>
  </label>

  <label>
    Year of Release:
    <input type="number" name="year_release" placeholder="2001" required>
  </label>
  <label>
    Summary:
    <input type="text" name="summary" placeholder="A young hobbit, Frodo, who has found the One Ring that belongs to the Dark Lord Sauron, begins his journey with eight companions to Mount Doom, the only place where it can be destroyed" >
  </label>
  <label>
  Image:
  <input type="url" name="image" placeholder="http://..." >
  </label>
  <button>Add movie</button>
</form>
