<h1>All restaurants</h1>

<% @restaurants.each do |restaurant| %>
  <h3><%= link_to restaurant.name, restaurant %></h3>
  <%= link_to image_tag(restaurant.image, :class => 'thumb'), restaurant %>
<% end %>
