<h1>Ask the 8 Ball</h1>
<form action="/magic-8/result">
  <label>
    What is your question?
    <input name="question" placeholder="Will I..." required>
  </label>

  <button class="button">Get answer! </button>
</form>
