<h1>New butterflies</h1>

<form action='/butterflies' method="post">
    <label>
        Name:
        <input name="name" placeholder="red admiral" required>
    </label>

    <label>
        Family:
        <input name="family" placeholder="butter" required>
    </label>

    <label>
        Image:
        <input name="image" type="url" placeholder="https://" required>
    </label>

    <button>Create butterfly</button>
</form>