

    <h1>Calculator</h1>
    <form action="/result">

        <label>First number</label>
        <input type="number" placeholder="10" name="x" required> 

        <label>Operator</label>
        <input type="text" placeholder="+ - * /" name="operator" required> 

        <label>Second number</label>
        <input type="number" placeholder="10" name="y" required>  

        <button>Calculate</button>

    </form>
