<html>
    <head>
        <link rel="stylesheet" href="/css/calculator.css">
        <link rel="stylesheet" href="/css/calculator.css">

    </head>

    <body>
        <nav><a href='/'>Home</a></nav>
        <h1> Crappy Calc</h1>

        <%= yield %>

    </body>
</html>