<h1>New Player</h1>

<form action="/footballers" method="post">
  <div>
    <label>
      Name:
      <input name="name" placeholder="eg. Pauolo" required>
    </label>
  </div>
  <div>
    <label>
      Family:
      <input name="family" placeholder="eg. Maldini" required>
    </label>
  </div>
  <div>
    <label>
      National Goals:
      <input type="number" name="national_goals" placeholder="enter a number" required>
    </label>
  </div>
  <div>
    <label>
      Image:
      <input type="url" name="image" placeholder="eg. http://...">
    </label>
  </div>

  <button>Add Player</button>
</form>
