<h1>Games on the t[RAIL]s</h1>
<div class ="home_icons">
<a href="/magic-8"><img src="/assets/magic.png" alt=""></a>
<a href="/secret-number"><img src="/assets/secret.png" alt=""></a>
<a href="/rock-paper-scissors"><img src="/assets/clipart942700.png" alt=""></a>
</div>
