<form action="/result">
  <h1>Small Book Info Library</h1>
    <label>
      Book Title:
      <input name="book_title" placeholder="eg. Jaws" required>
    </label>

    <div>
      <button>Show Info</button>
    </div>

</form>
