<div class="book_cover">
  <img src="<%= @cover %>" alt="This is going to be the cover page">
</div>

<div class="book_title">

  <p>Title: <%= @title %></p>
  <p>Author/s: <%= @authors %></p>
  <p>Description: <%= @description %></p>
  
</div>
