<h1>New Album</h1>

<form action="/albums" method="post">
  <label>
    Name:
    <input name="name" placeholder="Black Album" required>
  </label>

  <label>
    Cover:
    <input name="cover" type="url" placeholder="http://...">
  </label>

  <button>Create Album</button>
</form>
