<h1>New Band</h1>

<form action="/bands" method="post">
  <label>
    Name:
    <input name="name" placeholder="Nirvana" required>
  </label>

  <label>
    Genre:
    <input name="genre" placeholder="Rock">
  </label>

  <button>Create Band</button>
</form>
