<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Music Albums</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">
</head>
<body>
  <div class="container">
    <nav>
      <a href="/">Home</a>
      <a href="/bands">All Bands</a>
      <a href="/bands/new">New Band</a>
      |
      <a href="/albums">All Albums</a>
      <a href="/albums/new">New Album</a>
    </nav>

    <%= yield %>

  </div>
</body>
</html>
