<html>
    <head>
        <title>Book search</title>
        <link rel="stylesheet" href="/style.css">
    </head>

    <body>

        <main>
            <section>
                <%= yield %>
            </section>  
            <footer>
                <p> Uses googleapis.com/books <br/> Gif is by <a href="https://giphy.com/emmadarvick">emmadarvick</a></p>
            </footer>
        </main>
    </body>
</html>