<h1>Play Rock, Paper, Scissors</h1>
  <h3>Verse the computer</h3>
  <form action="/rock-paper-scissors/result">
    Make your choice
    <select name="users_choice">
      <option value=""></option>
      <option value="rock">Rock</option>
      <option value="paper">Paper</option>
      <option value="scissors">Scissors</option>

    </select>

    <button class="button">Play! </button>
  </form>
