/*

## Style Hints:

Body Font Size = 12px
	 Line Height = 17px
	 Font Family = "Times New Roman", serif
	 Font Color = #656565

Link Hover Color = #20222a

*/

/*-----------------------------------------------------------------------------
=01 BODY
-----------------------------------------------------------------------------*/

body {
  padding: 40px;
  max-width: 960px;
  margin: 0 auto;
	font-family: "Times New Roman", sans-serif;
	color: #656565;
	font-size: 12px;
	line-height: 17px;
  /* overflow: hidden; */
}

/*-----------------------------------------------------------------------------
=02 HEADERS
-----------------------------------------------------------------------------*/
#logo {

}

/*-----------------------------------------------------------------------------
=03 PRESS LOGOS
-----------------------------------------------------------------------------*/

#pressLogos {
  display: inline-block;
}

/*-----------------------------------------------------------------------------
=02 FOOTER
-----------------------------------------------------------------------------*/
