<h1> Create New Artist </h1>

<form action="/artists " method= "post">

  <label>
    Name:
    <input name="name" type="text" placeholder="Kayhan Kalhor">
  </label>
  <label>
    Instrument:
    <input name="instrument"type="text" placeholder="Setar">
  </label>
  <label>
    Country:
    <input name="country"type="text" placeholder="Iran">
  </label>
  <label>
    Image:
    <input name="image" type="url" placeholder="http://....">
  </label>

<button> Create Artist </button>
</form>
