<h1> New Instrument </h1>

<form action="/instruments" method="post">

  <label >
    Name:
    <input name="name" Placeholder="Ney" required>
  </label>
  <label >
    Type:
    <input name="cat" Placeholder="Winds" required>
  </label>
  <label >
    Geo:
    <input name="geo" Placeholder="Iran" >
  </label>
  <label >
    Image:
    <input name="image" type="url" Placeholder="http://....." >
  </label>
  <button> Create </button>
</form>
