<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title> Eastrument </title>
  <link rel="stylesheet" href="/css/Instrument.css">
</head>
<body>
  <div class="nav">
    <nav>
      <a href="/">Home</a>
  |
      <a href="/instruments"> Instruments </a>
  |
      <a href="/instruments/new">New Instrument</a>
  |
      <a href="/artists"> Artists </a>
  |
      <a href="/artists/new">New Artists</a>
    </nav>
  </div>

  <div class='container'>
    <%= yield %>
  </div>
</body>
</html>
