<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/water.css@2/out/dark.css">

    <title></title>
  </head>
  <body>
    <h1>Your book search result</h1>
    <h2><%=title%></h2>
    <h3>by: <%=authors%></h3>
    <img src="<%=cover%>" alt="">
  </body>
</html>
