<h1>Secret Number</h1>

<h3>Guess a number between 1 - 10</h3>
<form action="/secret-number/result">
  <label>
    What is your guess?
    <input name="guess" type="number" placeholder="Enter a number" required>
  </label>

  <button class="button">Guess! </button>
</form>
