<h1>Secret Number</h1>


 <p>You guessed: <%=@guess%></p>
<p>The Secret Number was: <%=@answer%> </p>

<%if  @guess != @answer %>
<h5>You guessed wrong, please <a href="/secret-number">guess again!</a></h5>
<%else%>
<h5>Congratulations! You guessed right!</h5>
<%end%>
