
<h1>Book Info</h1>
<form action="/result">
  <label>
    Book name: <input name="x" placeholder="Harry Potter and the Philosopher's Stone" required>
  </label>

  <button class="button">Get info! </button>
</form>
